<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <link href="/stylesheets/comments.css" rel="stylesheet">

  <link href="/stylesheets/signIn.css" rel="stylesheet">
  <link href="/stylesheets/user.css" rel="stylesheet">

  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>

  <script src="/javascripts/remove.js"></script>
  <script src="/javascripts/changeName.js"></script>

 <script src="/javascripts/removeElement.js"></script>
  <script src="/javascripts/comment.js"></script>

   <script src="/javascripts/addMovie.js"></script>

  <script src="/javascripts/login.js"></script>

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/images/infuse_300.png" width="30" height="30" class="d-inline-block align-top" alt=""> Movies DB
      </a>
    </nav>

    {{{body}}}
  </div>
</body>

</html>